<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <script src="./bower_components/moment/moment.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./angular-daterangepicker.js"></script>
    <script src="./demo.js"></script>
    <meta charset="UTF-8" />
    <title>A date range picker for Bootstrap</title>
    <link href="./bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="./angular-daterangepicker.css" />
    <style type="text/css">
    .demo { 
      position: relative; 
    }
    .demo > i {
      position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
    }
    </style>
  </head>
  <body ng-app="daterangepickerDemo" ng-init="options = {}">
      <div class="container" ng-controller="demoCtrl">
        <h1 style="margin: 0 0 20px 0">Configuration Builder</h1>
        <div class="well configurator">
          <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="parentEl">parentEl</label>
                <input type="text" ng-model="options.parentEl" class="form-control" id="parentEl" value="" placeholder="body">
              </div>
              <div class="form-group">
                <label for="startDate">startDate</label>
                <input type="text" ng-model="options.startDate" class="form-control" id="startDate" ng-init="options.startDate = '11/08/2016'">
              </div>
              <div class="form-group">
                <label for="endDate">endDate</label>
                <input type="text" ng-model="options.endDate" class="form-control" id="endDate" ng-init="options.endDate = '11/25/2016'">
              </div>
              <div class="form-group">
                <label for="minDate">minDate</label>
                <input type="text" ng-model="options.minDate" class="form-control" id="minDate" value="" ng-init="options.minDate = '09/01/2015'">
              </div>
              <div class="form-group">
                <label for="maxDate">maxDate</label>
                <input type="text" ng-model="options.maxDate" class="form-control" id="maxDate" value="" ng-init="options.maxDate = '09/01/2017'">
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.singleDatePicker" ng-init="options.singleDatePicker=false" id="singleDatePicker"> singleDatePicker
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.showDropdowns" id="showDropdowns" ng-init="options.showDropdowns=false"> showDropdowns
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.showWeekNumbers" id="showWeekNumbers" ng-init="options.showWeekNumbers=false"> showWeekNumbers
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.showISOWeekNumbers" id="showISOWeekNumbers"> showISOWeekNumbers
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.timePicker" id="timePicker" ng-init="options.timePicker=false"> timePicker
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.timePicker24Hour" id="timePicker24Hour" ng-init="options.timePicker24Hour=false"> timePicker24Hour
                </label>
              </div>
              <div class="form-group">
                <label for="timePickerIncrement">timePickerIncrement (in minutes)</label>
                <input type="text" ng-model="options.timePickerIncrement" class="form-control" id="timePickerIncrement" value="1">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.timePickerSeconds" id="timePickerSeconds"> timePickerSeconds
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.dateLimit" id="dateLimit"> dateLimit (with example date range span)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <!-- Only the options.ranges value needs to be set in order for the calendar to function correctly, setting rangesEnabled is solely for the purpose of the input box for the demo; so rangesEnabled is not used anywhere in the DaterangePicker code -->
                  <input type="checkbox" ng-model="options.rangesEnabled" 
                  ng-init="options.rangesEnabled=true;" 
                  id="ranges"> ranges (with example predefined ranges)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.locale" id="locale"> locale (with example settings)
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.linkedCalendars" id="linkedCalendars" ng-init="options.linkedCalendars=true"> linkedCalendars
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="options.alwaysShowCalendars" id="alwaysShowCalendars"> alwaysShowCalendars
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="buttonClasses">buttonClasses</label>
                <input type="text" ng-model="options.buttonClasses" class="form-control" id="buttonClasses" value="btn btn-sm">
              </div>
              <div class="form-group">
                <label for="applyClass">applyClass</label>
                <input type="text" ng-model="options.applyClass" class="form-control" id="applyClass" value="btn-success">
              </div>
              <div class="form-group">
                <label for="cancelClass">cancelClass</label>
                <input type="text" ng-model="options.cancelClass" class="form-control" id="cancelClass" value="btn-default">
              </div>
            </div>
          </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 demo">
            <h4>Your Date Range Picker</h4>
            <daterange-picker input-id="config-demo" options="options"></daterange-picker>
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          </div>
          <div class="col-md-6">
            <h4>Configuration</h4>
            <div class="well">
              <textarea id="config-text" style="height: 300px; width: 100%; padding: 10px"></textarea>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>